@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body, html {
    background-color: #145A32;
}

header {
    background-color: #196F3D;
    color: #FFFFFF;
}

header h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: block;
    padding: 0;
    margin: 0;
}

menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #196F3D;
    color: #FFFFFF;
    border: 2px solid #145A32;
    border-radius: 2px;
}

menu a:hover {
    background-color: #117A65;
}

main {
    width: 90vw;
    background-color: #145A32;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

article h2 {
    padding-bottom: 20px;
}

article p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}
