@charset "UTF-8";

    

* {
    font-family: Arial, Helvetica, sans-serif;
}
body, html {
    background-color: lightgrey;
}

header {
    background-color: rgb(148, 148, 148);
}

header h1 {
    padding: 10px;
    text-align: center;
}

span#burguer {
    background-color: rgba(128, 128, 128, 0.281);
    color: #FFFFFF;
    padding: 10px;
    display: block;
    text-align: center;
}

span#burguer:hover {
    background-color: #117A65;
}

menu {
    display: none;
    padding: 0;
    margin: 0;
}

menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: darkgray;
    color: #FFFFFF;
    border: 2px solid #145A32;
    border-radius: 2px;
}

menu a:hover {
    background-color: #117A65;
}

main {
    width: 90vw;
    background-color: grey;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

article h2 {
    padding-bottom: 20px;
}

article p {
    text-align: left;
    margin-bottom: 20px;
    text-indent: 20px;
}
