/* Importando a fonte do Google Fonts */
/* basta colar o embed do google fonts no css */
    @import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Kaushan+Script&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

    body {
            font-family: 'Work Sans' , Arial, Helvetica, sans-serif;
            font-size: 1em; /* 1em = 16px */
            font-style: normal;;
    }

    h1{
            font-family: 'Fredericka the Great', serif;
            font-weight: 400;
            font-style: normal;
            font-size: 3em; /* 3em = 48px */
        
        }

    h2 {
            font-family: 'Kaushan Script', cursive;
            font-weight: 400;
            font-style: normal;
            font-size: 2em; /* 2em = 32px */
        }

    main{
            text-align: justify;
            
        }
        